.u-block-232e-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-232e-3 {
  position: absolute;
  left: 0;
}

.u-block-232e-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/body31.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1400px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: 100px 516px 0 15px;
}

.u-section-1-1 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  margin: 15px 570px 0 22px;
}

.u-section-1-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Poppins;
  background-image: none;
  margin: 15px auto 60px 122px;
  padding: 22px 30px 23px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 331px;
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 392px;
    margin-left: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 111px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/93420685-01.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 906px;
}

.u-section-1-2 .u-image-1 {
  width: 927px;
  height: 927px;
  margin: 12px auto 0 -171px;
}

.u-section-1-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -802px 414px 0 29px;
}

.u-section-1-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 570px 0 35px;
}

.u-section-1-2 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Poppins;
  background-image: linear-gradient(#b8d6ad, #2e5606);
  margin: 12px auto 60px 141px;
  padding: 26px 47px 28px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-right: 243px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 405px;
    margin-left: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-1-2 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: -595px;
    margin-right: 23px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-1-2 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -415px;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -215px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pic781.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-3 .u-image-1 {
  width: 963px;
  height: 963px;
  margin: -32px auto 0 -156px;
}

.u-section-1-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: -841px 341px 0 61px;
}

.u-section-1-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 510px 0 61px;
}

.u-section-1-3 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Poppins;
  background-image: linear-gradient(#b8d6ad, #2e5606);
  margin: 108px auto 60px 174px;
  padding: 26px 47px 28px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 202px;
    margin-left: 0;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 371px;
    margin-left: 0;
  }

  .u-section-1-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1-3 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-3 .u-text-1 {
    margin-top: -598px;
    margin-right: 0;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1-3 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -418px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -218px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/853933df66342b4934bcb1a02266604a42a7ffceb18d25881fd1f93ec6f495da5bca8bc942aa5ed3eeaf5d047c2ac30831abbb6ff354eedac635fa_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-4 .u-image-1 {
  width: 946px;
  height: 946px;
  margin: -32px auto 0 -131px;
}

.u-section-1-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: -833px 244px 0 64px;
}

.u-section-1-4 .u-text-2 {
  animation-duration: 1000ms;
  margin: 42px 481px 0 64px;
}

.u-section-1-4 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Poppins;
  background-image: linear-gradient(#b8d6ad, #2e5606);
  margin: 22px auto 60px 172px;
  padding: 26px 47px 28px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 108px;
    margin-left: 0;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 345px;
    margin-left: 0;
  }

  .u-section-1-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-1-4 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-4 .u-text-1 {
    margin-top: -607px;
    margin-right: 0;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-1-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -427px;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -227px;
  }
}

 .u-section-1-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/be81870933bdf7082d5cefe03ab172fd007fe17ab611b58f3b49a764267ab574464b11dfa8f2d39ca793a3efff97e603d3bdd2b7a5305ad21ee2f2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-5 .u-image-1 {
  width: 683px;
  height: 683px;
  margin: 102px auto 0 -69px;
}

.u-section-1-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -617px 174px 0 79px;
}

.u-section-1-5 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 643px 0 79px;
}

.u-section-1-5 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Poppins;
  background-image: linear-gradient(#b8d6ad, #2e5606);
  margin: 10px auto 60px 136px;
  padding: 26px 33px 28px 32px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 3rem;
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-1-5 .u-text-2 {
    margin-right: 522px;
    margin-left: 0;
  }

  .u-section-1-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-5 .u-text-2 {
    margin-right: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1-5 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -474px;
  }

  .u-section-1-5 .u-text-2 {
    margin-right: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-1-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -274px;
  }

  .u-section-1-5 .u-text-2 {
    margin-right: 0;
  }
}

 .u-section-1-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/66c86976fe958fcd0e909ce0fed3449903221370fb9a06cfa999d78547c9f50eec3ef4b62fe39542308381379a7a99b44b5f78c4f00c6b6526d8f9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-6 .u-image-1 {
  width: 1029px;
  height: 1029px;
  margin: -26px auto 0 -202px;
}

.u-section-1-6 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -852px 237px 0 16px;
}

.u-section-1-6 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 491px 0 44px;
}

.u-section-1-6 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Poppins;
  background-image: linear-gradient(#b8d6ad, #2e5606);
  margin: 16px auto 60px 121px;
  padding: 33px 81px 34px 79px;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-6 .u-text-1 {
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-1-6 .u-text-2 {
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-1-6 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1-6 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-6 .u-text-1 {
    margin-top: -543px;
    margin-right: 0;
  }

  .u-section-1-6 .u-text-2 {
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 79px;
  }

  .u-section-1-6 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -363px;
  }

  .u-section-1-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -163px;
  }
}

 .u-section-1-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c2e7037214ed0d1b6f6eaf592084dde7d51bd92cfa7bcd0749e8fc5a5fa8e4a617b818f9431324b8359f136d25f9fd493a083dabdd8e91e2925096_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-7 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1-7 .u-image-1 {
  width: 1046px;
  height: 1046px;
  margin: 22px auto 0 -154px;
}

.u-section-1-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: -946px 570px 0 88px;
}

.u-section-1-7 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 430px 0 78px;
}

.u-section-1-7 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: Poppins;
  background-image: linear-gradient(#b8d6ad, #2e5606);
  margin: 0 auto 60px 228px;
  padding: 26px 47px 28px;
}

@media (max-width: 1199px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1-7 .u-text-1 {
    margin-right: 458px;
    margin-left: 0;
  }

  .u-section-1-7 .u-text-2 {
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-1-7 .u-btn-1 {
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1-7 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-left: 0;
  }

  .u-section-1-7 .u-text-1 {
    margin-top: -620px;
    margin-right: 238px;
  }

  .u-section-1-7 .u-text-2 {
    margin-right: 88px;
  }

  .u-section-1-7 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-1-7 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -440px;
    margin-right: 58px;
  }

  .u-section-1-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-7 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -240px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 12px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1910px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1788px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1143px;
  }
}